@import './grid.css';

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Sidebar Animation Styles */
html.sidebar-collapsed #app-sidebar {
    width: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

/* Core Base Styles */
@layer components {
    html, body {
        height: 100%;
        margin: 0;
    }

    input:focus, select:focus {
      outline: none;
    }

    .basic-btn {
      @apply text-[14px] font-bold px-4 rounded border transition-colors duration-300 hover:bg-gray-300;
    }

    .font-inter {
      font-family: 'Inter,sans-serif';
    }
}
